---
import Layout from '../layouts/Layout.astro';
---

<Layout title="Lavaforge" description="The lavaforge homepage">
  <main
    class="m-auto flex h-full max-w-screen-lg flex-col items-center justify-center gap-4 px-8"
  >
    <h1 class="hyphens-auto text-center font-cinzel text-4xl sm:text-6xl text-stallion font-bold sm:font-normal">
      Under construction
    </h1>
    <h2 class="text-pretty hyphens-auto text-center font-cinzel text-3xl sm:text-4xl text-stallion">
      We are <strong>lavaforge</strong>. We are building something amazing for
      you. Come back soon.
    </h2>
  </main>
</Layout>
