---
import Layout from '../layouts/Layout.astro';
---

<Layout title="Welcome to Astro.">
  <main
    class="m-auto flex h-full max-w-screen-lg flex-col items-center justify-center gap-4 px-8"
  >
    <h1 class="text-center font-cinzel text-6xl text-stallion">
      Under construction
    </h1>
    <h2 class="text-center font-cinzel text-4xl text-stallion">
      We are <strong>lavaforge</strong>. We are building something amazing for
      you.
    </h2>
  </main>
</Layout>
